#parse("trustinfo/include.vm")
<div class="DPosition">
    <span>用户中心</span>&nbsp;&gt;&nbsp;
    <span>认证信息</span>&nbsp;&gt;&nbsp;
    <span>关联用户</span>
</div>

<div class="mbox">
	<form id="queryform" method="GET" action="">
	<input id="pagecur" type="hidden" name="page" value="1">
    <input id="sizecur" type="hidden" name="size" value="$!size">
	<input id="sizecur" type="hidden" name="userlist">
    </form>
    #parse("pages0.vm")
    <div class="conBox">
    	<div class="tabCon">
    	 <table class="table1" cellpadding="0" cellspacing="0">
    	 	<thead>
            <th class="alignTwo" width="20%" >项目名称</th>
            <th class="alignTwo" width="20%">用户名</th>
            <th class="alignTwo" width="10%">真实姓名</th>
            <th class="alignTwo" width="15%">用户编码</th>
            <th class="alignTwo" width="15%" >手机号</th>
            <th class="alignTwo" width="20%">操作</th>
            </thead>
            <tbody>
            #foreach( $sysUser in $sysUserall )
	     	<tr>
    			<td class="alignL" title="${projectmap.get($sysUser.project).name}">${projectmap.get($sysUser.project).name}</td>
    			<td class="alignTwo" title="${sysUser.email}">${sysUser.email}</td>
                <td class="alignL">$!{sysUser.realName}</td>
                <td class="alignTwo">$!{sysUser.uniqueId}</td>
    			<td class="alignTwo">${sysUser.mPhone}</td>
    			<td class="alignL">
    				<div class="l">
    				<a href="#springUrl('/')userinfo/${sysUser.id}?entityTrue=$sysUser.entityTrue" title="查看详情">
    				<img title="查看详情" src="#springUrl('/')resources/images/show.png" class="image" alt="查看详情"/>
					</a>
					</div>
    			</td>
    		</tr>
			#end  
            </tbody>
            #parse("pages1.vm")
         </table>
    	</div>
    </div>
    
    <br/>
	<font color="red">$!{request.getParameter("message")}</font>
</div>
