<div class="DPosition">
    <span>系统管理</span>&nbsp;&gt;&nbsp;
    <span>信任源管理</span>
</div>
<div class="mbox">
    <form id="queryform" method="GET" action="">
        <input id="pagecur" type="hidden" name="page" value="$!page">
        <input id="sizecur" type="hidden" name="size" value="$!size">
    </form>
    #parse("pages0.vm")
    <a href="#springUrl('/')crlcontext?form" title="新建信任源">
    	<img title="新建软件" src="#springUrl('/')resources/images/create.png" class="image" alt="新建信任源"/>新建信任源
	</a><br/><br/>
    <div class="conBox">
    	<div class="tabCon">
    	 <table class="table1" cellpadding="0" cellspacing="0">
    	 	<thead>
    	 		<th class="alignTwo" width="5%">序号</th>
    			<th class="alignTwo" width="25%">信任CA</th>
    			<th class="alignTwo" width="35%">CRL颁发点</th>
    			<th class="alignTwo" width="10%">CRL检查</th>
    			<th class="alignTwo" width="10%">下载策略</th>
    			<th class="alignTwo" width="15%">操作</th>
            </thead>
            <tbody>
            	#foreach( $crlcontext in $crlList )
	     	<tr>
    			<td  class="alignTwo">${foreach.count}</td>
    			<td  class="alignL" title='${crlcontext.certSubject}'>${crlcontext.certSubject}</td>
    			<td  class="alignThree" title="${crlcontext.crlUrl}">${crlcontext.crlUrl}</td>
    			<td  class="alignL">#if(${crlcontext.checkCrl}==true)强制检查#else不检查#end</td>
    			<td  class="alignL">${crlcontext.retryPolicy}</td>
    			<td  class="alignThree">
    				<div class="l">
    				<a href="#springUrl('/')crlcontext/${crlcontext.id}" title="查看信任源">
    				<img title="查看信任源" src="#springUrl('/')resources/images/show.png" class="image" alt="查看信任源"/>
					</a>
    				<a href="#springUrl('/')crlcontext/${crlcontext.id}?form" title="修改信任源">
    				<img title="修改信任源" src="#springUrl('/')resources/images/update.png" class="image" alt="修改信任源"/>
					</a>
					</div>
					<div class="l"  style="margin-top:7px;">
     				<form id="command" action="#springUrl('/')crlcontext/${crlcontext.id}" method="post">
	    				<input type="hidden" name="_method" value="DELETE"/>
	    				<input onclick="return confirm('删除后将不能恢复，是否删除?');"
						value="删除软件" type="image" title="删除软件" src="#springUrl('/')resources/images/delete.png"
						class="image" alt="删除软件"/>
					</form>
					</div>
    			</td>
    		</tr>
			#end 
            </tbody>
            #parse("pages1.vm")
         </table>
    	</div>
    </div>
    
	<font color="red">$!{request.getParameter("message")}</font>
	<br/>
</div>