#parse("message/include.vm")
<div class="DPosition">
    <span>业务管理</span>&nbsp;&gt;&nbsp;
    <span>弹窗推送</span>&nbsp;&gt;&nbsp;
    <span>修改消息</span>
</div>
<style type="text/css"> 

label.error 
{ 
color:Red; 
font-size:13px; 
margin-left:5px; 
padding-left:16px; 
background:url("#springUrl('/')resources/images/unchecked.gif") left no-repeat; 
} 
</style> 
<script type="text/javascript">
<!--
$(function () {
	$("#msgTitle").val('$!{message.msgTitle}');
});
$().ready(function(){

    getapps($("#project").val());
});
##function hidetip(id){
  ##  $("#"+id).hide();
##}
function getapps(projectid){
    ##hidetip("projectError");
    $("#authapp").html('<label class="labelcom" style="margin-top: 7px;">加载中...</label>');
    $("#unAuthapp").html('<label class="labelcom" style="margin-top: 7px;">加载中...</label>');
    var postData={
        projectid:projectid
    };
    var url="#springUrl('/')message/getApps";
    var auth = "${message.authapp}";
    var unauth = "${message.unAuthapp}";
    var auths = auth.split(",");
    var unauths = unauth.split(",");
    $.ajax({
        type:"post",
        crossDomain : true,
        url:url,
        data:postData,
        //async: false, //false表示同步，true表示异步,默认为true
        success:function(data){
            var jsondata = $.parseJSON(data);
//			$("#authapp").append("<tr>");
            $("#authapp").html("");
            $("#unAuthapp").html("");
            $.each(jsondata, function(index, obj){
//                $("#authapp").append("<td>");
                if($.inArray(obj.uniqueId+'', auths)!=-1){
                    $("#authapp").append('<input type="checkbox" name="authapp" checked class="radcom rad_wh" value="'+obj.uniqueId+'" /><label class="labelcom" style="margin-top: 7px;">'+obj.name+'</label>');
                }else{
                    $("#authapp").append('<input type="checkbox" name="authapp" class="radcom rad_wh" value="'+obj.uniqueId+'" /><label class="labelcom" style="margin-top: 7px;">'+obj.name+'</label>');
                }
                if($.inArray(obj.uniqueId+'', unauths)!=-1){
                    $("#unAuthapp").append('<input type="checkbox" name="unAuthapp" checked class="radcom rad_wh" value="'+obj.uniqueId+'" /><label class="labelcom" style="margin-top: 7px;">'+obj.name+'</label>');
                }else{
                    $("#unAuthapp").append('<input type="checkbox" name="unAuthapp" class="radcom rad_wh" value="'+obj.uniqueId+'" /><label class="labelcom" style="margin-top: 7px;">'+obj.name+'</label>');
                }
//                $("#authapp").append("</td>");
//				if(index>0&&(index+1)%3==0){
//                    $("#authapp").append("</tr><tr>");
//				}
            });
//            $("#authapp").append("</tr>");
        }
    });
}
//-->
</script>
<div class="mbox">
	<div class="mboxR">
	<!--基本信息-->
	<div class="mboxR_top mboxR_top_first">
		<img src="#springUrl('/')resources/images/icon_list.png" /><h3 class="h_nav">基本信息</h3>
	</div>
	<div class="mboxRbox">
	<form id="messageForm" action="#springUrl('/')message/update" method="post" enctype="multipart/form-data">
	<input type="hidden" name="_method" value="PUT"/>
	<input type="hidden" name="id" value="${message.id}"/>
	<div class="tabConBox_L">
	<input type="hidden" name="retpath" value="$retpath"/>
	<p>
	<span>项目名称</span>
	<select id="project" name="project" onchange="getapps(this.value)">
	#foreach($projectobj in $projects)
		<option value="${projectobj.id}" 
			#if($projectobj.id == ${message.project})
				selected="selected" 
			#end>${projectobj.name}</option>
		#end
	</select>
        <label id="projectError" style="line-height:25px; color:red; display:none;">
            请选择项目名称（选中后会出现对应授权应用）</label>
	<p/>
	<p>
        <span>标题：</span>
        <input id="title" name="title" type="text"  value="$!{message.title}" class="bor txtth" maxlength="15" size="50"></input>
            <label id="titleError" style="line-height:25px;">
            带图为10字，不带图15字以内</label>
        </p>
	<p>
        <span>链接：</span>
        <input id="link" name="link" type="text" class="bor txtth" value="$!{message.link}" maxlength="500" size="50")></input>
    </p>
        <p><label id="linkError" style="line-height:25px;color:red; display:none;">
            <span>&nbsp;</span>请输入正确的URL链接</label>
	</p>
	<p>
        <span>描述：</span>
        <textarea id="detail" style="margin:10px 0 0 0" rows="5" cols="34" name="detail" maxlength="60">$!{message.detail}</textarea>
##        <input id="detail" name="detail" type="text" value="${message.detail}" placeholder="带图片35字，不带图片60字以内" class="bor txtth" maxlength="60" size="100"></input>
</p>
        <p>
            <span>&nbsp;</span><label id="detailError" style="line-height:25px;">
            带图为35字，不带图60字以内</label>
        </p>
	<p>
        <span>请选择图片文件：</span>

        <input type="file" name="photofile" id="photo" multiple="multiple" class="mt9" /></p>
        <p>
            <span>&nbsp;</span><label style="line-height:25px;#if($photoError)color:#FF0000; #end">
            应用图片为大小在20K以内的JPG/PNG格式图片<br/>图片像素为110*80</label>
        </p>
        </div>
##        <div class="tabConBox_R">
##            <img src="#springUrl('/')message/getPhoto/${message.id}" style="margin-top: 10px;" alt="无图片" width="110" height="80" />
##
##        </div>
        <div class="tabConBox_R">
             #if(${message.photo})
                	<img src="#springUrl('/')message/getPhoto/${message.id}" width="110" height="80" />
                	<br><br>
                	<label> <input type="checkbox"  name="removePhoto" id="removePhoto">移除图片</label>
                #else
                	无图片
                #end

        </div>
        <div class="tabConBox_L" style="width:100%;">
	<p>
        <span>配置项：</span>
        <input id="configItem" name="configItem" type="text" value="$!{message.configItem}" class="bor txtth" size="50"></input>
	</p>
    <p>
        <span>参数：</span>
        <input id="parameter" name="params" type="text" value="$!{message.params}" class="bor txtth" size="50"></input>
    </p>
        <p><br></p>
        <div class="mboxR_top mboxR_top_first">
            <img src="#springUrl('/')resources/images/icon_list.png" /><h3 class="h_nav">前提条件</h3>
        </div>
        <p><br></p>
	<p>
        <span>是否插key：</span>
        <label class="labelcom">
            <input type="checkbox" id="isKey" name="isKey" value="1" #if($message.isKey==1||$message.isKey!=0)checked="checked"#end class="radcom rad_wh"/>
            是
        </label>
        <label class="labelcom">
            <input type="checkbox" id="isKey" name="isKey" value="0" #if($message.isKey==0||$message.isKey!=1)checked="checked"#end class="radcom rad_wh"/>
            否
        </label>
	</p>
	<p>
        <span>是否登录：</span>
        <label class="labelcom">
            <input type="checkbox" class="radcom rad_wh" id="isLogin" #if($message.isLogin==1||$message.isLogin!=0)checked="checked"#end name="isLogin" value="1" />
            是
        </label>
        <label class="labelcom">
            <input type="checkbox" class="radcom rad_wh" id="isLogin" #if($message.isLogin==0||$message.isLogin!=1)checked="checked"#end name="isLogin" value="0" />
            否
        </label>
	</p>
	<p>
        <span>不存在配置项：</span>
        <input id="nonexistConfig" name="noConfig" type="text" value="$!{message.noConfig}" class="bor txtth" size="50"></input>
    </p>
	<p>
        <span>存在配置项：</span>
        <input id="existConfig" name="hasConfig" type="text" value="$!{message.hasConfig}" class="bor txtth" size="50"></input>
	</p>
	<p>
        <span>未授权应用：</span>
##        <input name="unAuthapp" id="unAuthapp" type="text" class="bor txtth" size="50" />
        <div style="margin-left: 80px;" id="unAuthapp">
		##        <tr>
##			#foreach($app in $apps)
##                <td>
##                    <input type="checkbox" name="unAuthapp" class="radcom rad_wh" value="${app.uniqueId}" />
##                    <label class="labelcom" style="margin-top: 7px;">${app.name}</label>
##                </td>
##				#if($foreach.count>0 && $foreach.count%3==0)
##                </tr><tr>
##				#end
##			#end
##        </tr>
        </div>
	</p>
	<p>
        <span>已授权应用：</span>
##        <input name="authapp" id="authapp" type="text" class="bor txtth" size="50" />
        <div style="margin-left: 80px;" id="authapp">
		##        <tr>
##			#foreach($app in $apps)
##                <td>
##                    <input type="checkbox" name="authapp" class="radcom rad_wh" value="${app.uniqueId}" />
##                    <label class="labelcom" style="margin-top: 7px;">${app.name}</label>
##                </td>
##				#if($foreach.count>0 && $foreach.count%3==0)
##                </tr><tr>
##				#end
##			#end
##        </tr>
        </div>
	</p>

        <p><br></p>
        <div class="mboxR_top mboxR_top_first">
            <img src="#springUrl('/')resources/images/icon_list.png" /><h3 class="h_nav">提示策略</h3>
        </div>
        <p><br></p>
	<p>
        <span>提示有效期：</span>
        <input id="showStartTime" name="showStartTime" type="text" value="$!date.format('yyyy-MM-dd HH:mm:ss',$!message.showStartTime)" class="bor txtwidth2" style="margin-top:7px;"
               onClick="WdatePicker({skin:'twoer',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2013-01-01 00:00:00',maxDate:'2099-12-31 11:59:59'})"/>
        至
        <input id="showEndTime" name="showEndTime" type="text" value="$!date.format('yyyy-MM-dd HH:mm:ss',$!message.showEndTime)" class="bor txtwidth2" style="margin-top:7px;"
               onClick="WdatePicker({skin:'twoer',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2013-01-01 00:00:00',maxDate:'2099-12-31 11:59:59'})" /><br /><br />
	</p>
            <p><label id="timeError" style="line-height:25px;color:red; display:none;">
                <span>&nbsp;</span>请选择提示有效期</label>
            </p>
	<p>
        <span>每次启动提示：</span>
        <input type="radio" name="isShowOnStart" #if($message.isShowOnStart)checked="checked"#end class="radcom rad_wh" value="1"/><label class="labelcom">是</label>
        <input type="radio" name="isShowOnStart" #if(!$message.isShowOnStart)checked="checked"#end class="radcom rad_wh" value="0"/><label class="labelcom">否</label>
	</p>
	<p>
        <span>每次插key提示：</span>
        <input type="radio" name="isShowOnKey" #if($message.isShowOnKey)checked="checked"#end class="radcom rad_wh" value="1"/><label class="labelcom">是</label>
        <label class="labelcom">否<input id="isShowOnKey" name="isShowOnKey" #if(!$message.isShowOnKey)checked="checked"#end value="0" type="radio" class="radcom rad_wh" /></label>
	</p>
	<p>
        <span>每次登录提示：</span>
        <label class="labelcom">是<input name="isShowOnLogin" value="1" #if($message.isShowOnLogin)checked="checked"#end type="radio" class="radcom rad_wh" /></label>
        <label class="labelcom">否<input name="isShowOnLogin" value="0" #if(!$message.isShowOnLogin)checked="checked"#end type="radio" class="radcom rad_wh" /></label>
	</p>
	<p>
        <span>每日固定时间提示：</span>
        <input id="showTimes" name="showTimes" value="$!{message.showTimes}" type="text" class="bor txtth" />
	</p>
        <p><span>&nbsp;</span><label style="line-height:25px;#if($logoError)color:#FF0000; #end">
        例：00:00,1:00</label></p>

    <p>
        <span>发布类型：</span>
        <select id="status" name="status" class="bor sel342">
        #foreach($typeObj in $publishTypeMap.entrySet())
            <option value="$typeObj.key" #if($typeObj.key == ${message.status})selected="selected"#end>$typeObj.value</option>
        #end
        </select>
    </p>
	</div>
	<div class="btn_bottom">
		<input type="submit" value="修改" class="btn_small m_r" onclick="return check();"></input>
        <input type="button" name="return" value="返回" class="btn_small m_r" onclick="javascript:history.back(-1)" />
	</div>
	</form>
	</div>
	</div>
</div>
##<script type="text/javascript">
##	function checkForm(){
##		var ret = checkNull($("#msgTitle"),"消息标题不能为空",null,true);
##
##		if(ret)
##			ret = checkNull($("#msgLink"),"消息链接不能为空",null,true);
##		return ret;
##	}
##</script>
<script type="text/javascript">
    function check(){
        var xx = '$!{message.photo}';
        if($("#project").val()=="") {
            $("#projectError").show();
            $("#project").focus();
            $("#linkError").hide();
            $("#timeError").hide();
            return false;
        }
        if($("#title").val()=="") {
            $("#titleError").css("color","red");
            $("#title").focus();
            $("#projectError").hide();
            $("#linkError").hide();
            $("#timeError").hide();
            return false;
        }
        if((xx!="" && $("#title").val().length>10 && $("#removePhoto").is(":checked")!=true)|| ($("#photo").val()!="" && $("#title").val().length>10)) {
            $("#titleError").css("color","red");
            $("#title").focus();
            $("#projectError").hide();
            $("#linkError").hide();
            $("#timeError").hide();
            return false;
        }

        if($("#link").val()=="" ) {
            $("#linkError").show();
            $("#link").focus();
            $("#projectError").hide();
            $("#timeError").hide();
            return false;
        }

        if($("#detail").val()=="") {
            $("#detailError").css("color","red");
            $("#detail").focus();
            $("#projectError").hide();
           $("#linkError").hide();
            $("#timeError").hide();
            return false;
        }
        if((xx!="" && ($("#detail")).val().length>35 && $("#removePhoto").is(":checked")!=true)|| ($("#photo").val()!="" && $("#detail").val().length>35)) {
            $("#detailError").css("color","red");
            $("#detail").focus();
            $("#projectError").hide();
            $("#linkError").hide();
            return false;
        }
        if($("#showStartTime").val()=="" || $("#showEndTime").val()==""){
            $("#timeError").show();
            $("#showStartTime").focus();
            $("#projectError").hide();
            $("#linkError").hide();
            return false;
        }

        else{
            return true;
        }


    }
</script>