#if(!$SPRING_SECURITY_CONTEXT.authentication.principal)
	#set($layout="layouts/layout-null.vm")
	<html> 
<head>
  <meta http-equiv="Refresh" content="0; URL=#springUrl('/login')">
</head>
</html>
#else

	#set($page_title="终端支撑管理系统")
<div class="DPosition">
    <span>首页</span>
</div>
<div class="wel_bg"><img src="#springUrl('/')resources/images/wel_bg.jpg" /></div>
	#if(!$SPRING_SECURITY_CONTEXT.authentication.principal)
	<a title="登录" style="display: inline;" href="#springUrl('/login')">登录</a> 
	#end
#end  
