#set($page_title="未处理异常")

<div>
    <h2>uncaughtException</h2>
       <p>
        <h4>
         	 异常详情
        </h4>
        
        $!{exception.localizedMessage}
        $!{exception.toString()}
        <hr>
        #foreach( $trace in ${exception.stackTrace})
		$!{trace}
        <br />
		#end
      </p>
</div>