#parse("projects/include.vm")
<div class="DPosition">
    <span>系统管理</span>&nbsp;&gt;&nbsp;
    <span>项目管理</span>&nbsp;&gt;&nbsp;
    <span>编辑项目</span>
</div>
<div class="mbox">
	<div class="mboxR">
	<!--基本信息-->
	<div class="mboxR_top mboxR_top_first">
		<img src="#springUrl('/')resources/images/icon_list.png" /><h3 class="h_nav">添加项目</h3>
	</div>
	<div class="mboxRbox">
	<form id="project" action="#springUrl('/')projects" method="post" onsubmit="return proCheckForm();">
	<input type="hidden" name="_method" value="PUT"/>
	<input type="hidden" name="id" value="${project.id}"/>
	<input type="hidden" name="newKeyPairUpdate" value="true" />
	<div class="tabConBox_L" style="width: 100%;">
	<p>
		<span>项目名称：</span>
		<input id="proName" name="name" type="text" class="bor txtth" value="${project.name}"></input>
	</p>
	<p>
		<span>联系人：</span>
		<input id="proContact" name="contact" type="text" class="bor txtth" value="${project.contact}"></input>
	</p>
	<p>
		<span>电话号码：</span>
		<input id="phone" name="phone" type="text" class="bor txtth" value="${project.phone}"></input>
	</p>
	<p>
		<span>电子邮件：</span>
		<input id="mail" name="mail" type="text" class="bor txtth" value="${project.mail}"></input>
	</p>
	<p>
		<span>RA配置：</span>
		<select name="raAccount" class="bor sel342">
		<option value="" #if(!${project.raAccount}) selected="selected" #end)>$nora</option>
		#foreach($raaccount in $raaccounts)
		<option value="${raaccount.id}" 
		#if(${project.raAccount} == ${raaccount.id}) selected="selected" #end>${raaccount.raName}</option>
		#end
		</select>
	</p>
	<p>
		<span>运营平台地址：</span>
		<input id="operationSysUrl" name="operationSysUrl" type="text" class="bor txt350" value="$!{project.operationSysUrl}"></input>
	</p>
#if($orgCode == "000000")
	<p>
		<span>企业代码：</span>
		<input id="orgCode" name="orgCode" type="text" class="bor txtth" value="$!{project.orgCode}"></input>
	</p>
	<p>
		<span>企业平台地址：</span>
		<input id="orgUrl" name="orgUrl" type="text" class="bor txt350" value="$!{project.orgUrl}"></input>
	</p>
#end
	</div>
	<label style="color:Red;font-size:13px;margin-left:5px;padding-left:16px;">$!message</label>
	<div class="btn_bottom">
		<input type="submit" value="修改" class="btn_small m_r"></input>
	</div>
	</form>
	</div>
	</div>
</div>
<style type="text/css"> 

label.error 
{ 
color:Red; 
font-size:13px; 
margin-left:5px; 
padding-left:16px; 
background:url("#springUrl('/')resources/images/unchecked.gif") left no-repeat; 
} 
</style> 
<script type="text/javascript">
$().ready(function(){
	$("#project").validate({
		rules:{
			name:"required",
			contact:"required",
			phone:{
				required:true,
				number:true,
				minlength:11,
				maxlength:11
			},
			mail:{
				required:true,
				email:true
			}
		},
		messages:{
			phone:{
				number:"请输入11位数字的电话号码",
				minlength:$.validator.format("请您输入{0}位电话号码"),
				maxlength:$.validator.format("请您输入{0}位电话号码")
			},
			mail:{
				email:"请您输入正确格式的电子邮件"
			}
		}
	});
});
</script>