#parse("versions/include.vm")
<div class="DPosition">
    <span>软件发布</span>&nbsp;&gt;&nbsp;
    <span>软件管理</span>&nbsp;&gt;&nbsp;
    <span>添加版本</span>
</div>
<div class="mbox">
	<div class="mboxR">
	<!--基本信息-->
	<div class="mboxR_top mboxR_top_first">
		<img src="#springUrl('/')resources/images/icon_list.png" /><h3 class="h_nav">添加版本</h3>
	</div>
	<div class="mboxRbox">
	<form id="version" action="#springUrl('/')versions" method="post" enctype="multipart/form-data">
	<div class="tabConBox_L">

	<p>
	<span>软件名称：</span>
	<select name="product" >
		#foreach($productobj in $products)
		<option value="${productobj.id}"
		#if($product == $productobj.id)selected#end>${productobj.name}</option>
		#end
	</select>
	</p>
	<p>
		<span>软件版本：</span>
		<input name="productVersion" type="text" class="bor txtth" value="1.0.0.0"/>
	</p>
	<p>
	<span>软件状态：</span>
	#foreach($status in $statuss0)
		<input type="radio" name="status" class="radcom rad_wh" value="${status.status}"
		#if($foreach.count == 1)checked #end /><label class="labelcom">${status.name}</label>
	#end
	<p/>
	<p>
		<span>描述信息：</span>
		<textarea name="info" class="bot txta600" cols="" rows=""></textarea>
	</p>
	<p>
	<span>安装文件：</span><input type="file" name="file1" class="mt9"/>
	</p>
	</div>
	<div class="btn_bottom">
		<input type="submit" value="创建" class="btn_small m_r"></input>
		<input type="reset" value="重置" class="btn_small m_r"></input>
	</div>
	</form>
	</div>
	</div>
</div>