#parse("mailconfig/include.vm")
<div class="DPosition">
    <span>系统管理</span>&nbsp;&gt;&nbsp;
    <span>地税同步配置</span>
</div>
<div class="mbox">
	<div class="mboxR">
	<!--地税同步配置信息-->
	<div class="mboxR_top mboxR_top_first">
		<img src="#springUrl('/')resources/images/icon_list.png" /><h3 class="h_nav">地税同步配置信息</h3>
	</div>
	<div class="mboxRbox">
	<div class="tabConBox_L" style="width: 100%;">

	<form action="#springUrl('/')taxconfig" onsubmit="return checkProject()" method="post">
	<input type="hidden" name="id" value="$!{taxSystemConfig.id}"/>
	
	<p>
		<span>项目名称：</span>
		<select id="project" name="project" class="bor sel342">
			<option value="-1" >选择项目</option>
			#foreach($projectobj in $projects)
			<option value="${projectobj.id}" #if($projectobj.id == ${taxSystemConfig.project}) 
				selected="selected" 
			#end >${projectobj.name}</option>
			#end
		</select>
		<span id="projecterr" name="projecterr" style="color:Red"></span>
	<p/>

	<p>
		<span>信息获取地址：</span>
		<input id="taxSystemReadUrl" name="taxSystemReadUrl" type="text" class="bor txtth" value="$!{taxSystemConfig.taxSystemReadUrl}"/>
	<p/>
	<p>
		<span>信息回写地址：</span>
		<input id="taxSystemWriteUrl" name="taxSystemWriteUrl" type="text" class="bor txtth" value="$!{taxSystemConfig.taxSystemWriteUrl}"/>
	<p/>
	
	<p>
	<span>是否开启地税获取：</span>
	#foreach($status in $statuss)
			<input id="isRead" type="radio" name="isRead" class="radcom rad_wh" value="${status.status}"
			#if($status.status == $taxSystemConfig.isRead )checked #end/><label class="labelcom">${status.name}</label>
		#end
	</p>
	<p>
	<span>是否开启地税回写：</span>
	#foreach($status in $statuss)
			<input id="isWrite" type="radio" name="isWrite" class="radcom rad_wh" value="${status.status}"
			#if($status.status == $taxSystemConfig.isWrite )checked #end/><label class="labelcom">${status.name}</label>
		#end
	</p>
	<p>
		<span>获取时间间隔（秒）：</span>
		<input id="taxSystemReadInterval" name="taxSystemReadInterval" type="text" class="bor txtth" value="$!{taxSystemConfig.taxSystemReadInterval}"/>
	<p/>
	<p>
		<span>回写时间间隔（秒）：</span>
		<input id="taxSystemWriteInterval" name="taxSystemWriteInterval" type="text" class="bor txtth" value="$!{taxSystemConfig.taxSystemWriteInterval}"/>
	<p/>

	<span class="error_Info"  style="color:Red;float:left;margin-top:10px;"></span>
	<div class="btn_bottom">
		<input type="submit" value="保存" class="btn_small m_r"></input>
		<input type="reset" value="取消" class="btn_small m_r"></input>
	</div>
	</form>
	</div>
	</div>	
</div>
<script>
	$(function(){
		$("#project").change(function(){
			if(-1==$(this).children('option:selected').val())
				$("#projecterr").html("请选择项目");
			else
				$("#projecterr").html("");
		})
	});
	function checkProject(){
		var project = $("#project").val();
		if(project<0){
			$("#projecterr").html("请选择项目");
			return false;
		}else{
			return true;
		}
	}

</script>