<div class="DPosition">
    <span>业务管理</span>&nbsp;&gt;&nbsp;
    <span>Passcode</span>&nbsp;&gt;&nbsp;
    <span>上传三证合一文件</span>
</div>
<div class="mbox">
	<div class="mboxR">
	<!--基本信息-->
	<div class="mboxR_top mboxR_top_first">
		<img src="#springUrl('/')resources/images/icon_list.png" /><h3 class="h_nav">>上传三证合一文件</h3>
	</div>
	<div class="mboxRbox">
	<form id="admin" action="#springUrl('/')three?uploadThree" method="post" enctype="multipart/form-data" onsubmit="return checkProject()">
	<div class="tabConBox_L" >

	<p>
		<span>项目名称：</span>
		<select id="project" name="project" class="bor sel342">
			<option value="-1" >选择项目</option>
			#foreach($projectobj in $projectMap)
			<option value="${projectobj.id}" >${projectobj.name}</option>
			#end
		</select>
		<span id="projecterr" name="projecterr" style="color:Red"></span>
	<p/>
	
	<p>
		<span>三证合一文件：</span>
		<input type="file" name="threeFile" class="mt9"/>
	</p>
	</div>
	<div class="btn_bottom">
		<input type="submit" value="上传" class="btn_small m_r"></input>
		<input type="reset" value="重置" class="btn_small m_r"></input>
	</div>
	</form>
	<a href="#springUrl('/')resources/templet/threeinone_templet.xls">下载示例文件</a>
	<span class="error_Info"  style="color:Red;float:left;margin-top:10px;">$!{error}</span>

	#if(${errorRow})
		<span class="error_Info"  style="color:Red;float:left;margin-top:10px;">请检查文件中第${errorRow}行格式是否正确</span>
	#end
	</div>
	</div>
</div>
<script>
	$(function(){
		$("#project").change(function(){
			if(-1==$(this).children('option:selected').val())
				$("#projecterr").html("请选择项目");
			else
				$("#projecterr").html("");
		})
	});
	function checkProject(){
		var project = $("#project").val();
		if(project<0){
			$("#projecterr").html("请选择项目");
			return false;
		}else{
			return true;
		}
	}
</script>