<div class="DPosition">
    <span>业务管理</span>&nbsp;&gt;&nbsp;
    <span>Passcode</span>&nbsp;&gt;&nbsp;
    <span>合并新老用户信息</span>
</div>
<div class="mbox">
	<div class="mboxR">
	请到管理员日志查看日志类型为【合并五证合一新老用户】的合并成功的信息
	</div>
</div>