#set( $cycles = {"30":"天","12":"月度","4":"季度","1":"年度"})
#set( $cycleNames = {30:"日",12:"月份",4:"季度",1:"年"})
#set( $months = [0,1,2,3,4,5,6,7,8,9,10,11])
#set( $years = [2013,2014,2015,2016,2017,2018,2019,2020,2021,2022])
#set( $osTypes = {0:"所有类型",1:"windows",2:"android",3:"ios"})