#parse("devicemanage/include.vm")
<div class="DPosition">
	<span>业务管理</span>&nbsp;&gt;&nbsp; 
	<span>设备管理</span>&nbsp;&gt;&nbsp; 
	<span>设备详情</span>
</div>
#parse("pages0.vm")
<div class="mbox">
	<div class="conBox">
		<div class="tabCon">
			<table class="table1" cellpadding="0" cellspacing="0">
				<thead>
					<th class="alignTwo" width="35%">证书信息</th>
					<th class="alignTwo" width="15%">签发时间</th>
					<th class="alignTwo" width="15%">到期时间</th>
					<th class="alignTwo" width="10%">状态</th>
				</thead>
				<tbody>
					#foreach( $usercert in $uclist )
					<tr>
						<td class="alignL">序列号：${usercert.certSn}<br/>
						主题项：${usercert.certDn.replace(", ","<br/>&emsp;&emsp;&emsp;&emsp;")}</td><!-- 证书信息 -->
						<td class="alignTwo">$date.format("yyyy-MM-dd HH:mm:ss",${usercert.certStartTime})</td><!-- 授信开始时间 -->
						<td class="alignTwo">$date.format("yyyy-MM-dd HH:mm:ss",${usercert.certEndTime})</td><!-- 授信截至时间 -->
						<!-- 状态 -->
						<td class="alignTwo">
						#if($date.getDate().after(${usercert.certEndTime}))
							${certStatus.get("EXPIRED")}
						#else
							${certStatus.get(${usercert.certStatus})}
						#end</td>
					</tr>
					#end
				</tbody>
			</table>
		</div>
	</div>
	<br />
</div>